<%- include('partials/adminheader.ejs') %>




<div class="col-12 container shadow p-3 mb-5 bg-white rounded mt-5"  style="    margin-top: 6rem;">
    <h1>Product List</h1>
    <br>
   
    <a href="/admin/add-product"><button class="btn btn-info m-2">Add product</button></a>

<br>
<br>

<div class="col-12">
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">View The Products Here.</h6>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th scope="col"> IMAGE</th>
                        <th scope="col">NAME</th>
                        <th scope="col">BRAND</th>
                        <th scope="col">CATEGORY NAME</th>
                        <th scope="col">SIZE</th>
                        <th scope="col">PRICE</th>
                  
                        
                      
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <% for( let i=0 ;i<pro_details.length;i++) { %>
                    
                    <tr>
                        <td scope="row"><%- i+1 %></td>
                        <td scope="row">
                            <% pro_details[i].image.forEach(function(elem){ %> 
                                <img class="rounded-circle me-lg-2" src="\admin\img\<%- elem.filename %> "  style="width: 40px; height: 40px;"   alt="some thing wrong">
                             <% }) %>
                             </td>
                             <td scope="row"><%- pro_details[i].name %></td>
                             <td scope="row"><%- pro_details[i].brand %></td>
                             <td scope="row"><%- pro_details[i].category %></td>
                             <td scope="row"><%- pro_details[i].size %></td>
                             <td scope="row"><%- pro_details[i].price %></td>
                        
                       <td><button class="btn btn-success"><a style="color: white;" href="/admin/edit-product/<%- pro_details[i]._id %>">edit</a></button></td>

                        <td><button class="btn btn-danger"><a style="color: white;" href="/admin/delete-product/<%- pro_details[i]._id %>" >delete</a></button></td>
                        
                           
                    </tr>
                  <%}%>
                   
                </tbody>
            </table>
        </div>
    </div>

</div></div>





<%- include('partials/adminfooter.ejs') %>